@using MechanicBuddy.Core.Application.Model
@using MechanicBuddy.Core.Domain
@using MechanicBuddy.Http.Api
@model PricingPrintModel
@{ 
    var pricing = (Estimate)Model.Pricing ;  
}  
<p class="text-sm text-gray-500">
    Date: @pricing.IssuedOn.ToString("dd.MM.yyyy")
</p>
