@using MechanicBuddy.Core.Application.Configuration
@using MechanicBuddy.Core.Application.Model
@using MechanicBuddy.Core.Domain
@using MechanicBuddy.Http.Api
@model PricingOptions
<p class="text-sm whitespace-pre-line  text-gray-500">@Model.Invoice.Disclaimer</p>