---
all:
  hosts:
    localhost:
      ansible_connection: local
      # Uses venv created by 00-prerequisites.yml for proxmoxer/requests packages
      ansible_python_interpreter: "{{ inventory_dir }}/../venv/bin/python"

  children:
    proxmox:
      hosts:
        proxmox-host:
          ansible_host: "{{ proxmox_api_host }}"
          ansible_user: root
          ansible_python_interpreter: /usr/bin/python3

    k8s_cluster:
      children:
        k8s_control_plane:
          hosts:
            k8s-control-1:
              ansible_host: 192.168.1.100
              ansible_user: ubuntu
              node_ip: 192.168.1.100
            k8s-control-2:
              ansible_host: 192.168.1.110
              ansible_user: ubuntu
              node_ip: 192.168.1.110
            k8s-control-3:
              ansible_host: 192.168.1.111
              ansible_user: ubuntu
              node_ip: 192.168.1.111
            k8s-control-4:
              ansible_host: 192.168.1.112
              ansible_user: ubuntu
              node_ip: 192.168.1.112
            k8s-control-5:
              ansible_host: 192.168.1.113
              ansible_user: ubuntu
              node_ip: 192.168.1.113

        k8s_workers:
          hosts:
            k8s-worker-1:
              ansible_host: 192.168.1.101
              ansible_user: ubuntu
              node_ip: 192.168.1.101
            k8s-worker-2:
              ansible_host: 192.168.1.102
              ansible_user: ubuntu
              node_ip: 192.168.1.102
            k8s-worker-3:
              ansible_host: 192.168.1.103
              ansible_user: ubuntu
              node_ip: 192.168.1.103
            k8s-worker-4:
              ansible_host: 192.168.1.104
              ansible_user: ubuntu
              node_ip: 192.168.1.104
            k8s-worker-5:
              ansible_host: 192.168.1.105
              ansible_user: ubuntu
              node_ip: 192.168.1.105
            k8s-worker-6:
              ansible_host: 192.168.1.106
              ansible_user: ubuntu
              node_ip: 192.168.1.106
            k8s-worker-7:
              ansible_host: 192.168.1.107
              ansible_user: ubuntu
              node_ip: 192.168.1.107
            k8s-worker-8:
              ansible_host: 192.168.1.108
              ansible_user: ubuntu
              node_ip: 192.168.1.108
            k8s-worker-9:
              ansible_host: 192.168.1.109
              ansible_user: ubuntu
              node_ip: 192.168.1.109
            k8s-worker-10:
              ansible_host: 192.168.1.114
              ansible_user: ubuntu
              node_ip: 192.168.1.114
            k8s-worker-11:
              ansible_host: 192.168.1.115
              ansible_user: ubuntu
              node_ip: 192.168.1.115
            k8s-worker-12:
              ansible_host: 192.168.1.116
              ansible_user: ubuntu
              node_ip: 192.168.1.116
            k8s-worker-13:
              ansible_host: 192.168.1.118
              ansible_user: ubuntu
              node_ip: 192.168.1.118
            k8s-worker-14:
              ansible_host: 192.168.1.119
              ansible_user: ubuntu
              node_ip: 192.168.1.119
            k8s-worker-15:
              ansible_host: 192.168.1.120
              ansible_user: ubuntu
              node_ip: 192.168.1.120

      vars:
        ansible_python_interpreter: /usr/bin/python3
        ansible_ssh_private_key_file: "{{ ssh_private_key_path }}"
