---
all:
  hosts:
    localhost:
      ansible_connection: local
      # Uses venv created by 00-prerequisites.yml for proxmoxer/requests packages
      ansible_python_interpreter: "{{ inventory_dir }}/../venv/bin/python"

  children:
    proxmox:
      hosts:
        proxmox-host:
          ansible_host: "{{ proxmox_api_host }}"
          ansible_user: root
          ansible_python_interpreter: /usr/bin/python3

    k8s_cluster:
      children:
        k8s_control_plane:
          hosts:
            k8s-control-1:
              ansible_host: 192.168.1.100
              ansible_user: ubuntu
              node_ip: 192.168.1.100

        k8s_workers:
          hosts:
            k8s-worker-1:
              ansible_host: 192.168.1.101
              ansible_user: ubuntu
              node_ip: 192.168.1.101
            k8s-worker-2:
              ansible_host: 192.168.1.102
              ansible_user: ubuntu
              node_ip: 192.168.1.102

      vars:
        ansible_python_interpreter: /usr/bin/python3
        ansible_ssh_private_key_file: "{{ ssh_private_key_path }}"
